html { scroll-behavior: smooth; }

body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    margin-top: 70px;
    /* border: 1px solid black; */
    /* height: 200vh; */


    /* To ensure your top bar doesn't exceed the viewport width when set to 100%,
     you can use a combination of box-sizing: border-box; and some margin adjustments.
      This way, padding and border will be included in the element's total width, 
      preventing it from overflowing. */
    border-radius: 10px;

    /* padding-top: 70px; */
    /* Adjust to the height of the fixed navbar, including padding and border */

    display: grid;
}


.Top-Bar {

    z-index: 1000; /* Ensure .Top-Bar stays on top */

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    position: fixed;
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */

    /* border: 1px solid rgb(189, 5, 5); */
    border-radius: 10px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.2);



    /* Width and Box Model:
When you set width: 100%, it means the element will take the full width of its container (usually the viewport for a fixed position element).
Adding padding and borders to an element with width: 100% causes it to exceed 100% of the width, leading to overflow.

Box-Sizing Property:
The default value of the box-sizing property is content-box, which means the width and height of an element are calculated excluding padding and border.
Setting box-sizing: border-box; includes the padding and border in the element's total width and height, preventing overflow. */
    box-sizing: border-box;
    /* Include padding and border in the element's total width */
    
    /* After adding this its working */
    /* b/c before it was colourless/ transparent so when we scroll we can see the content */
    background-color: white;
}



.Name {
    display: flex;
    flex: 1;
    padding-left: 10px;

    transition:
    width 2s,
    height 2s,
    background-color 2s,
    rotate 2s;
}

.Nav-Bar {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* gap: 20px; */

    align-items: center; /* Centers vertically */
}

.Top-Right-Info {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 1.3em;
    padding-right: 20px;
    padding-left: 20px;
    height: 50px;
    border-radius: 10px;
    /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2); */
}

.Top-Right-Info a{
    text-decoration: none;
    color: black;

}

.Top-Right-Info a:hover {
    color: grey;
}


/* Default state when no target is active */
/* #about, #project, #certification, #resume {
    background-color: white;
    transition: background-color 0.5s ease-out;
} */

/* Highlight the targeted section */
#about:target, #project:target, #certification:target, #resume:target {
    /* border-color: lightyellow; */
    /* border-color: rosybrown; */
    border: 1px solid rgb(158, 7, 7);
    transition: background-color 0.5s ease-out;
}




/* About */
.About{
    margin: 5px;
    padding: 5px;
    display: grid;
    border: 1px solid rgb(158, 7, 7);
    border-radius: 10px;
    
    grid-template-columns: 3fr 1fr;
    /* flex-wrap: wrap;
    flex-direction: row-reverse; */
    /* gap: 2px; */

    background-color: white; /* Default background color */ 
    
}
  

.Profile_Image{
    /* display: flex;
    flex:1; */
    /* border: 1px solid black; */

    display: grid;
}

.Contact_Summary{
    font-size: large;
    line-height: 1.5;
    /* display: flex;
    flex:3; */

    /* border: 1px solid black; */
    display: grid;
}

.contact-grid-container{
    display: grid;
    
    /* ratio -> 1:1 for column-> 2 column */
    grid-template-columns: 1fr 1fr;

    grid-row: auto;
}

.contact-grid-container p{
    margin-top: 5px;
    margin-bottom: 5px;
}

#first-grid{
   display: grid;
}

#mail_id{
    color: #5518AB;
}

#contact { margin-bottom: 10px}

.linkedin-icon { 
    font-size: 24px; /* Adjust the size as needed */ 
    color: #0e76a8; /* LinkedIn brand color */ 
    text-decoration: none; /* Remove underline */ 
    margin: 10px; /* Adjust spacing */ 
} 

.github-icon{
    font-size: 24px;
    text-decoration: none; /* Remove underline */ 
    margin: 10px; /* Adjust spacing */ 
    color: rgb(31, 35, 40);
}

.mail-icon{
    font-size: 24px;
    text-decoration: none; /* Remove underline */ 
    margin: 10px; /* Adjust spacing */
    color: rgb(213, 9, 9)
}

#phone-block{
    margin: 10px; /* Adjust spacing */
}

#phone-block span{
    margin: 10px;
}

.contact-summary-grid-container{
    display: grid;
    grid-template-columns: 1fr;
}

.Profile_Image{
    /* background-image: url('profile-picture.jpg');  */
    background-image: url('picnew-3.jpg'); 
    background-size: cover; /* Makes the image cover the entire div */
    background-position: center;
    border-radius: 10px;
    border: 1px solid black;
}

.Technologies{
    margin: 5px;
    padding: 5px;
    margin-top: 0px;
    /* height: 600px; */
    border: 1px solid rgb(158, 7, 7);
    border-radius: 10px;
}

.server-side{
    display: flex;
}

#server-side-tech{
    /* width: 100px;*/
    /*height: 100px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    padding: 10px;
    /* align-items: center; */
}

#server-side-tech i {
  font-size: 50px;
  padding: 10px;
}

.server-side img {
    /* The font-size property has no effect on images (<img> elements) 
    because it applies only to text-based elements. */

    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    padding: 10px;
    padding-top: 20px;
    
  }


.Technologies h4{
    margin: 10px;
}


 @media (max-width: 500px) {

    .Name{
        font-size: medium;
        width: fit-content; 
    }

    .Name h2{
        margin: auto;
    }

    .Contact_Summary{
        line-height: normal;
        font-size: medium;
    }

    .Top-Right-Info{
        font-size: medium;
        width: fit-content;
        height: fit-content;
        padding: auto;
    }

    .Nav-Bar{
        font-size: medium;
        width: fit-content;
        padding: auto;
    }
    
} 
